{% extends 'base.html.twig' %}

{% block title %}Dog Stroll{% endblock %}

{% block container %}

<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Modifier l'évènement</h2>
      </div>

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          {{ form_start(strollForm) }}
          <div class="mb-3">
            {{ form_widget(strollForm.title) }}
          </div>
          <div class="mb-3">
            <label>Sélectionner la date et l'heure de départ :</label>
            {{ form_widget(strollForm.startTime) }}
          </div>
          <div class="mb-3">
            <label>Sélectionner la date et l'heure de fin :</label>
            {{ form_widget(strollForm.endTime) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.startingPoint) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.town) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.description) }}
          </div>

          <button class="btn btn-warning" id="submitButton" type="submit">Modifier</button>
        </div>
        {{ form_end(strollForm) }}
      </div>

    </div>
  </div>
</section>
{% endblock %}
