{% extends 'base.html.twig' %}

{% block title %}Dog Stroll{% endblock %}

{% block container %}

<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Modifier mon compte</h1>
      </div>

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          {{ form_start(userForm) }}
          <div class="mb-3">
            {{ form_widget(userForm.email) }}
          </div>
          <div class="mb-3">
            {{ form_widget(userForm.nickname) }}
          </div>
          <div class="mb-3">
            {{ form_widget(userForm.firstName) }}
          </div>
          <div class="mb-3">
            {{ form_widget(userForm.lastName) }}
          </div>
          <div class="mb-3">
            {{ form_widget(userForm.town) }}
          </div>
          <div class="mb-3">
            <label>Sélectionner une photo au format jpeg ou png :</label>
            {{ form_widget(userForm.picture) }}
          </div>
          <div class="mb-3">
            {{ form_widget(userForm.bio) }}
          </div>

          {# <div class="d-grid"> #}
            <button class="btn btn-warning" id="submitButton" type="submit">Valider les modifications</button>
          </div>
          {{ form_end(userForm) }}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}