{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block container %}

<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Créer un compte</h1>
      </div>

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          {{ form_start(registrationForm) }}
          <div class="mb-3">
            {{ form_widget(registrationForm.email) }}
          </div>
          <div class="mb-3">
            {{ form_widget(registrationForm.nickname) }}
          </div>
          <div class="mb-3">
            {{ form_widget(registrationForm.firstName) }}
          </div>
          <div class="mb-3">
            {{ form_widget(registrationForm.lastName) }}
          </div>
          <div class="mb-3">
            {{ form_widget(registrationForm.town) }}
          </div>
          <div class="mb-3">
            <label>Sélectionner une photo au format jpeg ou png :</label>
            {{ form_widget(registrationForm.picture) }}
          </div>
          <div class="mb-3">
            {{ form_widget(registrationForm.bio) }}
          </div>
          <div class="mb-3">
            {{ form_widget(registrationForm.plainPassword) }}
          </div>
            <button class="btn btn-warning" id="submitButton" type="submit">S'enregistrer</button>
          </div>
          {{ form_end(registrationForm) }}
</section>

{% endblock %}