{% extends 'base.html.twig' %}

{% block title %}Dog Stroll{% endblock %}

{% block container %}

<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Proposer une ballade</h1>
        <p>La proposition de ballade sera contrôlée et validée par l'administrateur avant d'être disponible pour les
          inscriptions.</p>
      </div>

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          {{ form_start(strollForm) }}
          <div class="mb-3">
            {{ form_widget(strollForm.title, {
              'attr': {
                'class':'form-control',
                'placeholder':'Titre'
              }
            }) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.startTime, {
              'attr': {
                'class':'form-control',
                'placeholder':'Quel est la date et l\'heure de début ?'
              }
            }) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.endTime, {
              'attr': {
                'class':'form-control',
                'placeholder':'Quel est la date et l\'heure de fin ?'
              }
            }) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.startingPoint, {
              'attr': {
                'class':'form-control',
                'placeholder':'Précisez le lieu exact de départ'
              }
            }) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.town, {
              'attr': {
                'class':'form-control',
                'placeholder':'Dans quelle ville aura lieu la ballade'
              }
            }) }}
          </div>
          <div class="mb-3">
            {{ form_widget(strollForm.description, {
              'attr': {
                'class':'form-control',
                'placeholder':'Donnez plus de détail sur le déroulement de la ballade'
              }
            }) }}
          </div>

          <button class="btn btn-warning" id="submitButton" type="submit">Envoyer</button>
        </div>
        {{ form_end(strollForm) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
