{% extends 'base.html.twig' %}

{% block title %}Dog Stroll{% endblock %}

{% block container %}

<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      {# <div class="col-lg-3">
        <div class="d-flex align-items-center mt-lg-5 mb-4">
          <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
          <div class="ms-3">
            <div class="fw-bold">Valerie Luna</div>
            <div class="text-muted">News, Business</div>
          </div>
        </div>
      </div> #}
      <div class="col-lg-8">
        <article>
          <header class="mb-4">
            <h1 class="fw-bolder mb-1">{{ stroll.title }}</h1>
            <p class="card-text mb-0 text-secondary">Le {{ stroll.startTime|date('d-m-Y') }} de {{ stroll.startTime|date('H:i') }} à {{ stroll.startTime|date('H:i') }}</p>
            <p class="card-text text-secondary">{{ stroll.town }}</p>
          </header>
          {# <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
              alt="..." /></figure> #}
          <section class="mb-5">
            <p class="fs-5 mb-4">{{ stroll.description }}</p>
          </section>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('add_user_stroll', {'stroll': stroll.id, 'user': app.user.id}) }}" class="btn btn-warning">S'inscrire</a>
          {% endif %}
        </article>
      </div>
      <div class="col-lg-4">
        <section>
          <header class="mb-4">
            <h5 class="fw-bolder mb-1">Les inscrits</h5> 
          </header>
          {% for user in users %}
            <p class="mb-0">{{ user.nickname }}</p>            
          {% endfor %}
        </section>
    </div>
  </div>
</section>
{% endblock %}