{% extends 'base.html.twig' %}

{% block title %}Dog Stroll{% endblock %}

{% block container %}

<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Modifier un animal</h2>
      </div>

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          {{ form_start(dogForm) }}
          <div class="mb-3">
            {{ form_widget(dogForm.name) }}
          </div>
          <div class="mb-3">
            <label>Sélectionner une photo au format jpeg ou png :</label>
            {{ form_widget(dogForm.picture) }}
          </div>
          <div class="mb-3">
            {{ form_widget(dogForm.birthYear) }}
          </div>
          <div class="mb-3">
            {{ form_widget(dogForm.breed) }}
          </div>
          <div class="mb-3">
            <label>Sélectionner le sexe :</label>
            {{ form_widget(dogForm.sex) }}
          </div>
          <div class="mb-3">
            {{ form_widget(dogForm.bio) }}
          </div>
          <button class="btn btn-warning" id="submitButton" type="submit">Modifier</button>
        </div>
        {{ form_end(dogForm) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
